table{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.titrelogo {
    font-family: 'Architects Daughter', cursive;
    font-size: 2.6em;
    color: black;
}

.box{
    padding-top: 5px;
}

#btn_href, #boutonCO, #boutonDECO{
    text-decoration: none;
}
