.titre-logo {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.6em;
    text-decoration: none;
    color: black;
}

table{
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

.box{
    padding-top: 5px;
}

#btn_href, #boutonCO, #boutonDECO{
    text-decoration: none;
}
