
{% block filtres %}
    <div class="block pt-6 pl-6 pr-6">
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <input class="input is-success" type="date" placeholder="Text input" value="bulma">
                    </div>
                    <div class="column is-one-fifth">
                        <input class="input is-success" type="date" placeholder="Text input" value="bulma">
                    </div>
                </div>
                <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
                <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
            </div>
            <p class="help is-success">This username is available</p>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-danger" type="email" placeholder="Email input" value="hello@">
                <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
                <span class="icon is-small is-right">
      <i class="fas fa-exclamation-triangle"></i>
    </span>
            </div>
            <p class="help is-danger">This email is invalid</p>
        </div>
        <div class="field">
            <label class="label">Subject</label>
            <div class="control">
                <div class="select">
                    <select>
                        <option>Select dropdown</option>
                        <option>With options</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Message</label>
            <div class="control">
                <textarea class="textarea" placeholder="Textarea"></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="checkbox">
                    <input type="checkbox">
                    I agree to the <a href="#">terms and conditions</a>
                </label>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <label class="radio">
                    <input type="radio" name="question">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="question">
                    No
                </label>
            </div>
        </div>
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link">Submit</button>
            </div>
            <div class="control">
                <button class="button is-link is-light">Cancel</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block lapin %}

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>dddd</th>
                <th>sssss</th>
                <th>qqqqq</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td></td>
                <td></td>

            </tr>
            </tbody>

        </table>
    </div>
{% endblock %}

{% block table %}
    <div class="table-container">
        <table class="table is-hoverable is-fullwidth">
            <thead>
            <tr>
                <th><abbr title="ID">Id</abbr></th>
                <th>Nom de la sortie</th>
                <th><abbr title="Date de sortie">Date</abbr></th>
                <th><abbr title="Cloture">Cloture</abbr></th>
                <th><abbr title="Inscrits/places">Inscrits/places</abbr></th>
                <th><abbr title="Etat">Etat</abbr></th>
                <th><abbr title="Inscrit ?">Inscrit ?</abbr></th>
                <th><abbr title="Organisateur">Organisateur</abbr></th>
                <th><abbr title="Actions">Actions</abbr></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>1</th>
                <td>38</td>
                <td>23</td>
                <td>23</td>
                <td>12</td>
                <td>3</td>
                <td>68</td>
                <td>36</td>
                <td>81</td>
            </tr>
            <tr>
                <th>2</th>
                <td>38</td>
                <td>23</td>
                <td>20</td>
                <td>11</td>
                <td>7</td>
                <td>65</td>
                <td>36</td>
                <td>71</td>
            </tr>
            <tr>
                <th>3</th>
                <td>38</td>
                <td>19</td>
                <td>13</td>
                <td>6</td>
                <td>69</td>
                <td>35</td>
                <td>70</td>
            </tr>
            <tr class="is-selected">
                <th>4</th>
                <td>38</td>
                <td>19</td>
                <td>9</td>
                <td>10</td>
                <td>71</td>
                <td>41</td>
                <td>66</td>
            </tr>
            <tr>
                <th>5</th>
                <td>38</td>
                <td>19</td>
                <td>9</td>
                <td>10</td>
                <td>49</td>
                <td>35</td>
                <td>66</td>
            </tr>
            <tr>
                <th>6</th>
                <td>38</td>
                <td>18</td>
                <td>9</td>
                <td>11</td>
                <td>59</td>
                <td>41</td>
                <td>63</td>
            </tr>
            <tr>
                <th>7</th>
                <td>38</td>
                <td>16</td>
                <td>14</td>
                <td>8</td>
                <td>65</td>
                <td>51</td>
                <td>62</td>
            </tr>
            <tr>
                <th>8</th>
                <td>38</td>
                <td>16</td>
                <td>12</td>
                <td>10</td>
                <td>63</td>
                <td>50</td>
                <td>60</td>
            </tr>
            <tr>
                <th>9</th>
                <td>38</td>
                <td>14</td>
                <td>9</td>
                <td>15</td>
                <td>41</td>
                <td>55</td>
                <td>51</td>
            </tr>
            <tr>
                <th>10</th>
                <td>38</td>
                <td>12</td>
                <td>14</td>
                <td>12</td>
                <td>59</td>
                <td>53</td>
                <td>50</td>
            </tr>
            <tr>
                <th>11</th>
                <td>38</td>
                <td>11</td>
                <td>14</td>
                <td>13</td>
                <td>59</td>
                <td>55</td>
                <td>47</td>
            </tr>
            <tr>
                <th>12</th>
                <td>38</td>
                <td>12</td>
                <td>11</td>
                <td>15</td>
                <td>42</td>
                <td>52</td>
                <td>47</td>
            </tr>
            <tr>
                <th>13</th>
                <td>38</td>
                <td>12</td>
                <td>9</td>
                <td>17</td>
                <td>40</td>
                <td>50</td>
                <td>45</td>
            </tr>
            <tr>
                <th>14</th>
                <td>38</td>
                <td>10</td>
                <td>13</td>
                <td>15</td>
                <td>34</td>
                <td>48</td>
                <td>43</td>
            </tr>
            <tr>
                <th>15</th>
                <td>38</td>
                <td>11</td>
                <td>9</td>
                <td>18</td>
                <td>39</td>
                <td>51</td>
                <td>42</td>
            </tr>
            <tr>
                <th>16</th>
                <td>38</td>
                <td>11</td>
                <td>9</td>
                <td>18</td>
                <td>45</td>
                <td>67</td>
                <td>42</td>
            </tr>
            <tr>
                <th>17</th>
                <td>38</td>
                <td>9</td>
                <td>12</td>
                <td>17</td>
                <td>48</td>
                <td>62</td>
                <td>39</td>
            </tr>
            <tr>
                <th>18</th>
                <td>38</td>
                <td>9</td>
                <td>10</td>
                <td>19</td>
                <td>44</td>
                <td>65</td>
                <td>37</td>
            </tr>
            <tr>
                <th>19</th>
                <td>38</td>
                <td>9</td>
                <td>7</td>
                <td>22</td>
                <td>39</td>
                <td>67</td>
                <td>34</td>
            </tr>
            <tr>
                <th>20</th>
                <td>38</td>
                <td>3</td>
                <td>8</td>
                <td>27</td>
                <td>27</td>
                <td>76</td>
                <td>17</td>
            </tr>
            <tr>
                <th>19</th>
                <td>38</td>
                <td>9</td>
                <td>7</td>
                <td>22</td>
                <td>39</td>
                <td>67</td>
                <td>34</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}